In [1]:
import pandas as pd
from sodapy import Socrata # The package that allows me to pull the data
import numpy as np # Numerical analysis

In [2]:
# I created an account with Socrata that gives me full access to data on Medicaid.gov
# Here I use the Socrata package to grab the 2017 State Drug Utilization data

client = Socrata("data.medicaid.gov", # The website that hosts the data
                  "vK40fQCmmsCNjgjfTJ7IfcvGF", # My access key
                  username="df1559@stern.nyu.edu", # Account username
                  password="OmaDeda0904*") # Account password

# I then read in the specific data

results = client.get("f8sh-7iwd", # This is the specific code for the 2017 data
                     where = "medicaid_amount_reimbursed > 0", # I only want entries where drugs were actually 
                                                               # reimbursed by Medicaid
                     order = "state_code ASC", # I then order the rows based on state name
                     limit = 3000000) # The default is 1000, so to get all entries I need
                                      # to put in a large number. There are over 4M rows but
                                      # this drops to below 3M with the "where" specification

# Finally I convert it to a dataframe
results_df = pd.DataFrame.from_records(results)

In [2]:
results_df

,_latitude,_longitude,_quarter_begin,_quarter_begin_date,labeler_code,location,medicaid_amount_reimbursed,ndc,non_medicaid_amount_reimbursed,number_of_prescriptions,package_size,period_covered,product_code,product_fda_list_name,quarter,state_code,suppression_used,total_amount_reimbursed,units_reimbursed,utilization_type
0,61.385,-152.2683,7/1,2017-07-01T00:00:00.000,00378,"{'type': 'Point', 'coordinates': [-152.2683, 6...",709.79,00378464126,75.76,13,26,2017,4641,ESTRADIOL,3,AK,False,785.55,80,FFSU
1,61.385,-152.2683,10/1,2017-10-01T00:00:00.000,16714,"{'type': 'Point', 'coordinates': [-152.2683, 6...",1028,16714048203,0,69,03,2017,0482,LORATADINE,4,AK,False,1028,2690,FFSU
2,61.385,-152.2683,7/1,2017-07-01T00:00:00.000,00121,"{'type': 'Point', 'coordinates': [-152.2683, 6...",139.92,00121065705,0,27,05,2017,0657,ACETAMINOP,3,AK,False,139.92,383,FFSU
3,61.385,-152.2683,7/1,2017-07-01T00:00:00.000,51672,"{'type': 'Point', 'coordinates': [-152.2683, 6...",178.55,51672128901,0,18,01,2017,1289,NYSTATIN,3,AK,False,178.55,405,FFSU
4,61.385,-152.2683,7/1,2017-07-01T00:00:00.000,13107,"{'type': 'Point', 'coordinates': [-152.2683, 6...",2649.42,13107007401,0,80,01,2017,0074,DEXTROAMPH,3,AK,False,2649.42,3620,FFSU
5,61.385,-152.2683,7/1,2017-07-01T00:00:00.000,53451,"{'type': 'Point', 'coordinates': [-152.2683, 6...",17527.96,53451010101,0,31,01,2017,0101,HORIZANT,3,AK,False,17527.96,1020,FFSU
6,61.385,-152.2683,4/1,2017-04-01T00:00:00.000,00472,"{'type': 'Point', 'coordinates': [-152.2683, 6...",1565.47,00472040250,0,19,50,2017,0402,CLOBETASOL,2,AK,False,1565.47,850,FFSU
7,61.385,-152.2683,7/1,2017-07-01T00:00:00.000,23155,"{'type': 'Point', 'coordinates': [-152.2683, 6...",679.61,23155019642,0,42,42,2017,0196,ONDANSETRO,3,AK,False,679.61,190,FFSU
8,61.385,-152.2683,1/1,2017-01-01T00:00:00.000,16714,"{'type': 'Point', 'coordinates': [-152.2683, 6...",7301.5,16714050402,24.34,483,02,2017,0504,GABAPENTIN,1,AK,False,7325.84,63742,FFSU
9,61.385,-152.2683,7/1,2017-07-01T00:00:00.000,00093,"{'type': 'Point', 'coordinates': [-152.2683, 6...",463.89,00093506105,0,33,05,2017,5061,HYDROXYZIN,3,AK,False,463.89,1049,FFSU
10,61.385,-152.2683,4/1,2017-04-01T00:00:00.000,00603,"{'type': 'Point', 'coordinates': [-152.2683, 6...",544.96,00603616021,0,23,21,2017,6160,TRAZODONE,2,AK,False,544.96,1110,FFSU
11,61.385,-152.2683,10/1,2017-10-01T00:00:00.000,00093,"{'type': 'Point', 'coordinates': [-152.2683, 6...",158.97,00093727156,0,13,56,2017,7271,PIOGLITAZO,4,AK,False,158.97,435,FFSU
12,61.385,-152.2683,4/1,2017-04-01T00:00:00.000,00378,"{'type': 'Point', 'coordinates': [-152.2683, 6...",1568.43,00378548677,0,84,77,2017,5486,MECLIZINE,2,AK,False,1568.43,2738,FFSU
13,61.385,-152.2683,7/1,2017-07-01T00:00:00.000,16714,"{'type': 'Point', 'coordinates': [-152.2683, 6...",4531.51,16714035801,32.4,149,01,2017,0358,LEVETIRACE,3,AK,False,4563.91,72241,FFSU
14,61.385,-152.2683,10/1,2017-10-01T00:00:00.000,00603,"{'type': 'Point', 'coordinates': [-152.2683, 6...",530.6,00603786290,0,28,90,2017,7862,TRIAMCINOL,4,AK,False,530.6,2282,FFSU
15,61.385,-152.2683,4/1,2017-04-01T00:00:00.000,13107,"{'type': 'Point', 'coordinates': [-152.2683, 6...",721.67,13107007201,29.41,23,01,2017,0072,DEXTROAMPH,2,AK,False,751.08,1170,FFSU
16,61.385,-152.2683,10/1,2017-10-01T00:00:00.000,13913,"{'type': 'Point', 'coordinates': [-152.2683, 6...",25530.33,13913000519,0,45,19,2017,0005,GRALISE,4,AK,False,25530.33,3660,FFSU
17,61.385,-152.2683,7/1,2017-07-01T00:00:00.000,60505,"{'type': 'Point', 'coordinates': [-152.2683, 6...",276.06,60505025302,0,46,02,2017,0253,CLOPIDOGRE,3,AK,False,276.06,2100,FFSU
18,61.385,-152.2683,10/1,2017-10-01T00:00:00.000,62332,"{'type': 'Point', 'coordinates': [-152.2683, 6...",820.06,62332024631,116.36,18,31,2017,0246,AMANTADINE,4,AK,False,936.42,1081,FFSU
19,61.385,-152.2683,1/1,2017-01-01T00:00:00.000,60505,"{'type': 'Point', 'coordinates': [-152.2683, 6...",4622.03,60505014602,91.13,313,02,2017,0146,OMEPRAZOLE,1,AK,False,4713.16,6538,FFSU
20,61.385,-152.2683,7/1,2017-07-01T00:00:00.000,45802,"{'type': 'Point', 'coordinates': [-152.2683, 6...",6430.22,45802039001,0,17,01,2017,0390,TACROLIMUS,3,AK,False,6430.22,900,FFSU
21,61.385,-152.2683,7/1,2017-07-01T00:00:00.000,00121,"{'type': 'Point', 'coordinates': [-152.2683, 6...",2441.32,00121077216,46.49,105,16,2017,0772,HYDROCODON,3,AK,False,2487.81,20968.8,FFSU
22,61.385,-152.2683,7/1,2017-07-01T00:00:00.000,47335,"{'type': 'Point', 'coordinates': [-152.2683, 6...",317.01,47335090686,0,22,86,2017,0906,QUETIAPINE,3,AK,False,317.01,690,FFSU
23,61.385,-152.2683,7/1,2017-07-01T00:00:00.000,00143,"{'type': 'Point', 'coordinates': [-152.2683, 6...",1382.72,00143314205,0,79,05,2017,3142,DOXYCYCLIN,3,AK,False,1382.72,1923,FFSU
24,61.385,-152.2683,4/1,2017-04-01T00:00:00.000,00009,"{'type': 'Point', 'coordinates': [-152.2683, 6...",2101.69,00009069801,78.6,22,01,2017,0698,SOLU-MEDRO,2,AK,False,2180.29,18.77,FFSU
25,61.385,-152.2683,10/1,2017-10-01T00:00:00.000,60505,"{'type': 'Point', 'coordinates': [-152.2683, 6...",1050.23,60505317007,0,32,07,2017,3170,OMEGA-3 AC,4,AK,False,1050.23,2316,FFSU
26,61.385,-152.2683,10/1,2017-10-01T00:00:00.000,31722,"{'type': 'Point', 'coordinates': [-152.2683, 6...",225.41,31722074890,0,23,90,2017,0748,VALSARTAN,4,AK,False,225.41,690,FFSU
27,61.385,-152.2683,1/1,2017-01-01T00:00:00.000,60432,"{'type': 'Point', 'coordinates': [-152.2683, 6...",697.39,60432012608,0,17,08,2017,0126,MEGESTROL,1,AK,False,697.39,7080,FFSU
28,61.385,-152.2683,7/1,2017-07-01T00:00:00.000,00115,"{'type': 'Point', 'coordinates': [-152.2683, 6...",4148.9,00115681110,0,165,10,2017,6811,BUPROPION,3,AK,False,4148.9,4334,FFSU
29,61.385,-152.2683,10/1,2017-10-01T00:00:00.000,00603,"{'type': 'Point', 'coordinates': [-152.2683, 6...",678.95,00603457621,0,21,21,2017,4576,METHYLPHEN,4,AK,False,678.95,960,FFSU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2239818,NaN,NaN,4/1,2017-04-01T00:00:00.000,00555,NaN,378.51,00555087204,5,37,04,2017,0872,MEDROXYPRO,2,XX,False,383.51,1470,FFSU
2239819,NaN,NaN,4/1,2017-04-01T00:00:00.000,68084,NaN,200.57,68084078211,0,24,11,2017,0782,DIVALPROEX,2,XX,False,200.57,401,MCOU
2239820,NaN,NaN,4/1,2017-04-01T00:00:00.000,00168,NaN,1649.17,00168014060,0,34,60,2017,0140,FLUOCINONI,2,XX,False,1649.17,2235,MCOU
2239821,NaN,NaN,7/1,2017-07-01T00:00:00.000,76125,NaN,318536.76,76125090010,11853.16,51,10,2017,0900,GAMMAKED 1,3,XX,False,330389.92,28500,FFSU
2239822,NaN,NaN,1/1,2017-01-01T00:00:00.000,57664,NaN,816.88,57664012613,12,89,13,2017,0126,HYDROCODON,1,XX,False,828.88,2791,MCOU
2239823,NaN,NaN,4/1,2017-04-01T00:00:00.000,49348,NaN,81.64,49348011610,0,18,10,2017,0116,SM PAIN RE,2,XX,False,81.64,1440,MCOU
2239824,NaN,NaN,4/1,2017-04-01T00:00:00.000,00378,NaN,813,00378225001,63.86,20,01,2017,2250,MYCOPHENOL,2,XX,False,876.86,2550,MCOU
2239825,NaN,NaN,7/1,2017-07-01T00:00:00.000,46122,NaN,445.99,46122014121,6,26,21,2017,0141,GNP Cough,3,XX,False,451.99,3154,FFSU
2239826,NaN,NaN,4/1,2017-04-01T00:00:00.000,00430,NaN,33772.78,00430075327,1650.01,76,27,2017,0753,DELZICOL 4,2,XX,False,35422.79,11931,FFSU
2239827,NaN,NaN,7/1,2017-07-01T00:00:00.000,52544,NaN,14681.94,52544016105,269.62,31,05,2017,0161,NORCO 10-3,3,XX,False,14951.56,3622,MCOU
2239828,NaN,NaN,7/1,2017-07-01T00:00:00.000,68084,NaN,105.21,68084034211,0,22,11,2017,0342,TOPIRAMATE,3,XX,False,105.21,2037,FFSU
2239829,NaN,NaN,7/1,2017-07-01T00:00:00.000,59212,NaN,19096.83,59212044710,9,29,10,2017,0447,PARNATE 10,3,XX,False,19105.83,3130,FFSU
2239830,NaN,NaN,7/1,2017-07-01T00:00:00.000,60505,NaN,1743.78,60505603004,0.29,23,04,2017,6030,CEFEPIME P,3,XX,False,1744.07,4229,FFSU
2239831,NaN,NaN,1/1,2017-01-01T00:00:00.000,62175,NaN,963.78,62175020532,0,81,32,2017,0205,MONTELUKAS,1,XX,False,963.78,2520,MCOU
2239832,NaN,NaN,1/1,2017-01-01T00:00:00.000,63323,NaN,1788.72,63323034720,39.83,97,20,2017,0347,CEFTRIAXON,1,XX,False,1828.55,198.38,FFSU
2239833,NaN,NaN,4/1,2017-04-01T00:00:00.000,63323,NaN,7719.67,63323008615,219.2,104,15,2017,0086,POTASSIUM,2,XX,False,7938.87,2703.573,FFSU
2239834,NaN,NaN,4/1,2017-04-01T00:00:00.000,24208,NaN,2813.19,24208078555,115.5,59,55,2017,0785,NEOMYCIN/P,2,XX,False,2928.69,204,FFSU
2239835,NaN,NaN,4/1,2017-04-01T00:00:00.000,68001,NaN,1729.75,68001031608,31.37,99,08,2017,0316,LOVASTATIN,2,XX,False,1761.12,3943,FFSU
2239836,NaN,NaN,4/1,2017-04-01T00:00:00.000,68084,NaN,29.47,68084088409,0,27,09,2017,0884,HYDROCODON,2,XX,False,29.47,121,MCOU
2239837,NaN,NaN,4/1,2017-04-01T00:00:00.000,49884,NaN,6390.53,49884032255,41.78,58,55,2017,0322,OLANZAPINE,2,XX,False,6432.31,2553,FFSU
2239838,NaN,NaN,4/1,2017-04-01T00:00:00.000,43598,NaN,66880.69,43598001251,5508.46,101,51,2017,0012,AUGMENTIN,2,XX,False,72389.15,12831,FFSU
2239839,NaN,NaN,7/1,2017-07-01T00:00:00.000,16714,NaN,675.74,16714049701,27.3,12,01,2017,0497,ETODOLAC E,3,XX,False,703.04,450,FFSU
2239840,NaN,NaN,1/1,2017-01-01T00:00:00.000,39822,NaN,8053.29,39822200001,88.31,49,01,2017,2000,CLONIDINE,1,XX,False,8141.6,2492.5,MCOU
2239841,NaN,NaN,4/1,2017-04-01T00:00:00.000,42546,NaN,3195.56,42546001010,0,13,10,2017,0010,BENZEPRO E,2,XX,False,3195.56,1700,MCOU
2239842,NaN,NaN,1/1,2017-01-01T00:00:00.000,62011,NaN,621.86,62011015201,0,101,01,2017,0152,HM ANTI-NA,1,XX,False,621.86,12186,MCOU
2239843,NaN,NaN,4/1,2017-04-01T00:00:00.000,00078,NaN,12214.79,00078055930,931.8,56,30,2017,0559,EXFORGE HC,2,XX,False,13146.59,1710,MCOU
2239844,NaN,NaN,1/1,2017-01-01T00:00:00.000,69235,NaN,10216.44,69235031005,134.04,230,05,2017,0310,DOXYCYCLIN,1,XX,False,10350.48,6052,MCOU
2239845,NaN,NaN,1/1,2017-01-01T00:00:00.000,00338,NaN,335.78,00338035703,551.77,12,03,2017,0357,20% OSMITR,1,XX,False,887.55,550.5,MCOU
2239846,NaN,NaN,7/1,2017-07-01T00:00:00.000,60505,NaN,102.71,60505260701,2,53,01,2017,2607,CARVEDILOL,3,XX,False,104.71,3030,MCOU
2239847,NaN,NaN,4/1,2017-04-01T00:00:00.000,28595,NaN,98220.51,28595080208,0,2580,08,2017,0802,HISTEX 2.5,2,XX,False,98220.51,243966.899,MCOU

In [3]:
# Here I drop the unnecessary columns
results_df.drop(["_quarter_begin",
            "_quarter_begin_date",
            "labeler_code", 
            "location",  
            "ndc",
            "number_of_prescriptions",
            "package_size", 
            "product_code",
            "product_fda_list_name",
            "quarter", 
            "suppression_used",
            "utilization_type"], axis=1, inplace = True)

In [4]:
results_df.head()

,_latitude,_longitude,medicaid_amount_reimbursed,non_medicaid_amount_reimbursed,period_covered,state_code,total_amount_reimbursed,units_reimbursed
0,61.385,-152.2683,709.79,75.76,2017,AK,785.55,80
1,61.385,-152.2683,1028,0,2017,AK,1028,2690
2,61.385,-152.2683,139.92,0,2017,AK,139.92,383
3,61.385,-152.2683,178.55,0,2017,AK,178.55,405
4,61.385,-152.2683,2649.42,0,2017,AK,2649.42,3620

I noticed that states are represented by their abbreviation rather than their full name. However, in the census and expansion datasets the full names are used. To merge later on I need to convert the abbreviations to full names. Luckily I found a dictionary on [GitHub](https://gist.github.com/rogerallen/1583593) that converts codes to names. Here I read it in:

In [2]:
us_state_abbrev = {
    'AL': 'Alabama',
    'AK': 'Alaska',
    'AZ': 'Arizona',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'IA': 'Iowa',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'ME': 'Maine',
    'MD': 'Maryland',
    'MA': 'Massachusetts',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MS': 'Mississippi',
    'MO': 'Missouri',
    'MT': 'Montana',
    'NE': 'Nebraska',
    'NV': 'Nevada',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NY': 'New York',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VT': 'Vermont',
    'VA': 'Virginia',
    'WA': 'Washington',
    'WV': 'West Virginia',
    'WI': 'Wisconsin',
    'WY': 'Wyoming',
}

In [5]:
# Here I replace the codes with the full names by passing through the dictionary
results_df.state_code.replace(to_replace = us_state_abbrev, inplace = True)

In [7]:
results_df.head()

,_latitude,_longitude,medicaid_amount_reimbursed,non_medicaid_amount_reimbursed,period_covered,state_code,total_amount_reimbursed,units_reimbursed
0,61.385,-152.2683,709.79,75.76,2017,Alaska,785.55,80
1,61.385,-152.2683,1028,0,2017,Alaska,1028,2690
2,61.385,-152.2683,139.92,0,2017,Alaska,139.92,383
3,61.385,-152.2683,178.55,0,2017,Alaska,178.55,405
4,61.385,-152.2683,2649.42,0,2017,Alaska,2649.42,3620

In [8]:
results_df.dtypes
# To perform operations on spending later on I need to convert it from an object to a number

_latitude                         object
_longitude                        object
medicaid_amount_reimbursed        object
non_medicaid_amount_reimbursed    object
period_covered                    object
state_code                        object
total_amount_reimbursed           object
units_reimbursed                  object
dtype: object

In [6]:
# Here I convert the amount reimbursed to a float
results_df["medicaid_amount_reimbursed"] = results_df["medicaid_amount_reimbursed"].astype(float, inplace = True)

In [10]:
results_df.dtypes

_latitude                          object
_longitude                         object
medicaid_amount_reimbursed        float64
non_medicaid_amount_reimbursed     object
period_covered                     object
state_code                         object
total_amount_reimbursed            object
units_reimbursed                   object
dtype: object

Now I want to find the total amount reimbursed for each state in the year 2017. I am looking at total spending on drugs rather than the specific drugs themselves.

In [7]:
new = results_df.groupby("state_code")
# First I group by the state

In [12]:
new.groups

{'Alabama': Int64Index([16515, 16516, 16517, 16518, 16519, 16520, 16521, 16522, 16523,
             16524,
             ...
             47924, 47925, 47926, 47927, 47928, 47929, 47930, 47931, 47932,
             47933],
            dtype='int64', length=31419),
 'Alaska': Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                 9,
             ...
             16505, 16506, 16507, 16508, 16509, 16510, 16511, 16512, 16513,
             16514],
            dtype='int64', length=16515),
 'Arizona': Int64Index([ 72016,  72017,  72018,  72019,  72020,  72021,  72022,  72023,
              72024,  72025,
             ...
             109263, 109264, 109265, 109266, 109267, 109268, 109269, 109270,
             109271, 109272],
            dtype='int64', length=37257),
 'Arkansas': Int64Index([47934, 47935, 47936, 47937, 47938, 47939, 47940, 47941, 47942,
             47943,
             ...
             72006, 72007, 72008, 72009, 72010, 72011, 72012, 72013, 72014,
             72015],
            dtype='int64', length=24082),
 'California': Int64Index([109273, 109274, 109275, 109276, 109277, 109278, 109279, 109280,
             109281, 109282,
             ...
             212447, 212448, 212449, 212450, 212451, 212452, 212453, 212454,
             212455, 212456],
            dtype='int64', length=103184),
 'Colorado': Int64Index([212457, 212458, 212459, 212460, 212461, 212462, 212463, 212464,
             212465, 212466,
             ...
             247366, 247367, 247368, 247369, 247370, 247371, 247372, 247373,
             247374, 247375],
            dtype='int64', length=34919),
 'Connecticut': Int64Index([247376, 247377, 247378, 247379, 247380, 247381, 247382, 247383,
             247384, 247385,
             ...
             280260, 280261, 280262, 280263, 280264, 280265, 280266, 280267,
             280268, 280269],
            dtype='int64', length=32894),
 'DC': Int64Index([280270, 280271, 280272, 280273, 280274, 280275, 280276, 280277,
             280278, 280279,
             ...
             301340, 301341, 301342, 301343, 301344, 301345, 301346, 301347,
             301348, 301349],
            dtype='int64', length=21080),
 'Delaware': Int64Index([301350, 301351, 301352, 301353, 301354, 301355, 301356, 301357,
             301358, 301359,
             ...
             302703, 302704, 302705, 302706, 302707, 302708, 302709, 302710,
             302711, 302712],
            dtype='int64', length=1363),
 'Florida': Int64Index([302713, 302714, 302715, 302716, 302717, 302718, 302719, 302720,
             302721, 302722,
             ...
             368546, 368547, 368548, 368549, 368550, 368551, 368552, 368553,
             368554, 368555],
            dtype='int64', length=65843),
 'Georgia': Int64Index([368556, 368557, 368558, 368559, 368560, 368561, 368562, 368563,
             368564, 368565,
             ...
             429756, 429757, 429758, 429759, 429760, 429761, 429762, 429763,
             429764, 429765],
            dtype='int64', length=61210),
 'Hawaii': Int64Index([429766, 429767, 429768, 429769, 429770, 429771, 429772, 429773,
             429774, 429775,
             ...
             447009, 447010, 447011, 447012, 447013, 447014, 447015, 447016,
             447017, 447018],
            dtype='int64', length=17253),
 'Idaho': Int64Index([475929, 475930, 475931, 475932, 475933, 475934, 475935, 475936,
             475937, 475938,
             ...
             495478, 495479, 495480, 495481, 495482, 495483, 495484, 495485,
             495486, 495487],
            dtype='int64', length=19559),
 'Illinois': Int64Index([495488, 495489, 495490, 495491, 495492, 495493, 495494, 495495,
             495496, 495497,
             ...
             565139, 565140, 565141, 565142, 565143, 565144, 565145, 565146,
             565147, 565148],
            dtype='int64', length=69661),
 'Indiana': Int64Index([565149, 565150, 565151, 565152, 565153, 565154, 565155, 565156,
             565157, 565158,
             ...
             620461, 620462, 620463, 620464, 620465, 620466, 620467, 620468,
             620469, 620470],
            dtype='int64', length=55322),
 'Iowa': Int64Index([447019, 447020, 447021, 447022, 447023, 447024, 447025, 447026,
             447027, 447028,
             ...
             475919, 475920, 475921, 475922, 475923, 475924, 475925, 475926,
             475927, 475928],
            dtype='int64', length=28910),
 'Kansas': Int64Index([620471, 620472, 620473, 620474, 620475, 620476, 620477, 620478,
             620479, 620480,
             ...
             646087, 646088, 646089, 646090, 646091, 646092, 646093, 646094,
             646095, 646096],
            dtype='int64', length=25626),
 'Kentucky': Int64Index([646097, 646098, 646099, 646100, 646101, 646102, 646103, 646104,
             646105, 646106,
             ...
             703834, 703835, 703836, 703837, 703838, 703839, 703840, 703841,
             703842, 703843],
            dtype='int64', length=57747),
 'Louisiana': Int64Index([703844, 703845, 703846, 703847, 703848, 703849, 703850, 703851,
             703852, 703853,
             ...
             754889, 754890, 754891, 754892, 754893, 754894, 754895, 754896,
             754897, 754898],
            dtype='int64', length=51055),
 'Maine': Int64Index([864027, 864028, 864029, 864030, 864031, 864032, 864033, 864034,
             864035, 864036,
             ...
             882833, 882834, 882835, 882836, 882837, 882838, 882839, 882840,
             882841, 882842],
            dtype='int64', length=18816),
 'Maryland': Int64Index([813998, 813999, 814000, 814001, 814002, 814003, 814004, 814005,
             814006, 814007,
             ...
             864017, 864018, 864019, 864020, 864021, 864022, 864023, 864024,
             864025, 864026],
            dtype='int64', length=50029),
 'Massachusetts': Int64Index([754899, 754900, 754901, 754902, 754903, 754904, 754905, 754906,
             754907, 754908,
             ...
             813988, 813989, 813990, 813991, 813992, 813993, 813994, 813995,
             813996, 813997],
            dtype='int64', length=59099),
 'Michigan': Int64Index([882843, 882844, 882845, 882846, 882847, 882848, 882849, 882850,
             882851, 882852,
             ...
             944654, 944655, 944656, 944657, 944658, 944659, 944660, 944661,
             944662, 944663],
            dtype='int64', length=61821),
 'Minnesota': Int64Index([ 944664,  944665,  944666,  944667,  944668,  944669,  944670,
              944671,  944672,  944673,
             ...
             1003514, 1003515, 1003516, 1003517, 1003518, 1003519, 1003520,
             1003521, 1003522, 1003523],
            dtype='int64', length=58860),
 'Mississippi': Int64Index([1044554, 1044555, 1044556, 1044557, 1044558, 1044559, 1044560,
             1044561, 1044562, 1044563,
             ...
             1084170, 1084171, 1084172, 1084173, 1084174, 1084175, 1084176,
             1084177, 1084178, 1084179],
            dtype='int64', length=39626),
 'Missouri': Int64Index([1003524, 1003525, 1003526, 1003527, 1003528, 1003529, 1003530,
             1003531, 1003532, 1003533,
             ...
             1044544, 1044545, 1044546, 1044547, 1044548, 1044549, 1044550,
             1044551, 1044552, 1044553],
            dtype='int64', length=41030),
 'Montana': Int64Index([1084180, 1084181, 1084182, 1084183, 1084184, 1084185, 1084186,
             1084187, 1084188, 1084189,
             ...
             1105605, 1105606, 1105607, 1105608, 1105609, 1105610, 1105611,
             1105612, 1105613, 1105614],
            dtype='int64', length=21435),
 'Nebraska': Int64Index([1160960, 1160961, 1160962, 1160963, 1160964, 1160965, 1160966,
             1160967, 1160968, 1160969,
             ...
             1183644, 1183645, 1183646, 1183647, 1183648, 1183649, 1183650,
             1183651, 1183652, 1183653],
            dtype='int64', length=22694),
 'Nevada': Int64Index([1280350, 1280351, 1280352, 1280353, 1280354, 1280355, 1280356,
             1280357, 1280358, 1280359,
             ...
             1322453, 1322454, 1322455, 1322456, 1322457, 1322458, 1322459,
             1322460, 1322461, 1322462],
            dtype='int64', length=42113),
 'New Hampshire': Int64Index([1183654, 1183655, 1183656, 1183657, 1183658, 1183659, 1183660,
             1183661, 1183662, 1183663,
             ...
             1198026, 1198027, 1198028, 1198029, 1198030, 1198031, 1198032,
             1198033, 1198034, 1198035],
            dtype='int64', length=14382),
 'New Jersey': Int64Index([1198036, 1198037, 1198038, 1198039, 1198040, 1198041, 1198042,
             1198043, 1198044, 1198045,
             ...
             1252261, 1252262, 1252263, 1252264, 1252265, 1252266, 1252267,
             1252268, 1252269, 1252270],
            dtype='int64', length=54235),
 'New Mexico': Int64Index([1252271, 1252272, 1252273, 1252274, 1252275, 1252276, 1252277,
             1252278, 1252279, 1252280,
             ...
             1280340, 1280341, 1280342, 1280343, 1280344, 1280345, 1280346,
             1280347, 1280348, 1280349],
            dtype='int64', length=28079),
 'New York': Int64Index([1322463, 1322464, 1322465, 1322466, 1322467, 1322468, 1322469,
             1322470, 1322471, 1322472,
             ...
             1421951, 1421952, 1421953, 1421954, 1421955, 1421956, 1421957,
             1421958, 1421959, 1421960],
            dtype='int64', length=99498),
 'North Carolina': Int64Index([1105615, 1105616, 1105617, 1105618, 1105619, 1105620, 1105621,
             1105622, 1105623, 1105624,
             ...
             1146452, 1146453, 1146454, 1146455, 1146456, 1146457, 1146458,
             1146459, 1146460, 1146461],
            dtype='int64', length=40847),
 'North Dakota': Int64Index([1146462, 1146463, 1146464, 1146465, 1146466, 1146467, 1146468,
             1146469, 1146470, 1146471,
             ...
             1160950, 1160951, 1160952, 1160953, 1160954, 1160955, 1160956,
             1160957, 1160958, 1160959],
            dtype='int64', length=14498),
 'Ohio': Int64Index([1421961, 1421962, 1421963, 1421964, 1421965, 1421966, 1421967,
             1421968, 1421969, 1421970,
             ...
             1505113, 1505114, 1505115, 1505116, 1505117, 1505118, 1505119,
             1505120, 1505121, 1505122],
            dtype='int64', length=83162),
 'Oklahoma': Int64Index([1505123, 1505124, 1505125, 1505126, 1505127, 1505128, 1505129,
             1505130, 1505131, 1505132,
             ...
             1531651, 1531652, 1531653, 1531654, 1531655, 1531656, 1531657,
             1531658, 1531659, 1531660],
            dtype='int64', length=26538),
 'Oregon': Int64Index([1531661, 1531662, 1531663, 1531664, 1531665, 1531666, 1531667,
             1531668, 1531669, 1531670,
             ...
             1571453, 1571454, 1571455, 1571456, 1571457, 1571458, 1571459,
             1571460, 1571461, 1571462],
            dtype='int64', length=39802),
 'Pennsylvania': Int64Index([1571463, 1571464, 1571465, 1571466, 1571467, 1571468, 1571469,
             1571470, 1571471, 1571472,
             ...
             1640194, 1640195, 1640196, 1640197, 1640198, 1640199, 1640200,
             1640201, 1640202, 1640203],
            dtype='int64', length=68741),
 'Rhode Island': Int64Index([1640204, 1640205, 1640206, 1640207, 1640208, 1640209, 1640210,
             1640211, 1640212, 1640213,
             ...
             1660167, 1660168, 1660169, 1660170, 1660171, 1660172, 1660173,
             1660174, 1660175, 1660176],
            dtype='int64', length=19973),
 'South Carolina': Int64Index([1660177, 1660178, 1660179, 1660180, 1660181, 1660182, 1660183,
             1660184, 1660185, 1660186,
             ...
             1699724, 1699725, 1699726, 1699727, 1699728, 1699729, 1699730,
             1699731, 1699732, 1699733],
            dtype='int64', length=39557),
 'South Dakota': Int64Index([1699734, 1699735, 1699736, 1699737, 1699738, 1699739, 1699740,
             1699741, 1699742, 1699743,
             ...
             1712066, 1712067, 1712068, 1712069, 1712070, 1712071, 1712072,
             1712073, 1712074, 1712075],
            dtype='int64', length=12342),
 'Tennessee': Int64Index([1712076, 1712077, 1712078, 1712079, 1712080, 1712081, 1712082,
             1712083, 1712084, 1712085,
             ...
             1746652, 1746653, 1746654, 1746655, 1746656, 1746657, 1746658,
             1746659, 1746660, 1746661],
            dtype='int64', length=34586),
 'Texas': Int64Index([1746662, 1746663, 1746664, 1746665, 1746666, 1746667, 1746668,
             1746669, 1746670, 1746671,
             ...
             1805930, 1805931, 1805932, 1805933, 1805934, 1805935, 1805936,
             1805937, 1805938, 1805939],
            dtype='int64', length=59278),
 'Utah': Int64Index([1805940, 1805941, 1805942, 1805943, 1805944, 1805945, 1805946,
             1805947, 1805948, 1805949,
             ...
             1831817, 1831818, 1831819, 1831820, 1831821, 1831822, 1831823,
             1831824, 1831825, 1831826],
            dtype='int64', length=25887),
 'Vermont': Int64Index([1887789, 1887790, 1887791, 1887792, 1887793, 1887794, 1887795,
             1887796, 1887797, 1887798,
             ...
             1902085, 1902086, 1902087, 1902088, 1902089, 1902090, 1902091,
             1902092, 1902093, 1902094],
            dtype='int64', length=14306),
 'Virginia': Int64Index([1831827, 1831828, 1831829, 1831830, 1831831, 1831832, 1831833,
             1831834, 1831835, 1831836,
             ...
             1887779, 1887780, 1887781, 1887782, 1887783, 1887784, 1887785,
             1887786, 1887787, 1887788],
            dtype='int64', length=55962),
 'Washington': Int64Index([1902095, 1902096, 1902097, 1902098, 1902099, 1902100, 1902101,
             1902102, 1902103, 1902104,
             ...
             1951187, 1951188, 1951189, 1951190, 1951191, 1951192, 1951193,
             1951194, 1951195, 1951196],
            dtype='int64', length=49102),
 'West Virginia': Int64Index([1986286, 1986287, 1986288, 1986289, 1986290, 1986291, 1986292,
             1986293, 1986294, 1986295,
             ...
             2026119, 2026120, 2026121, 2026122, 2026123, 2026124, 2026125,
             2026126, 2026127, 2026128],
            dtype='int64', length=39843),
 'Wisconsin': Int64Index([1951197, 1951198, 1951199, 1951200, 1951201, 1951202, 1951203,
             1951204, 1951205, 1951206,
             ...
             1986276, 1986277, 1986278, 1986279, 1986280, 1986281, 1986282,
             1986283, 1986284, 1986285],
            dtype='int64', length=35089),
 'Wyoming': Int64Index([2026129, 2026130, 2026131, 2026132, 2026133, 2026134, 2026135,
             2026136, 2026137, 2026138,
             ...
             2034697, 2034698, 2034699, 2034700, 2034701, 2034702, 2034703,
             2034704, 2034705, 2034706],
            dtype='int64', length=8578),
 'XX': Int64Index([2034707, 2034708, 2034709, 2034710, 2034711, 2034712, 2034713,
             2034714, 2034715, 2034716,
             ...
             2239838, 2239839, 2239840, 2239841, 2239842, 2239843, 2239844,
             2239845, 2239846, 2239847],
            dtype='int64', length=205141)}

In [8]:
totals_2017 = new["medicaid_amount_reimbursed"].sum()
# Then I create a new series that represents the total amount spent by each state

In [14]:
type(totals_2017)

pandas.core.series.Series

In [12]:
totals_2017.to_csv("totals_2017.csv")
# Finally I save the totals_2017 series as a csv file so I can combine it with other years
# When I tried to combine all years in jupyter notebook, my computer would crash and I would have to start again
# This way I could go through each year and make sure I had the data I needed

I then repeat this for each year. I struggled to come up with an automated function that would work without my computer crashing. Once it read in two or three years there were either errors or it would take hours to grab another year of data

### 2016:

In [3]:
client = Socrata("data.medicaid.gov",
                  "vK40fQCmmsCNjgjfTJ7IfcvGF",
                  username="df1559@stern.nyu.edu",
                  password="OmaDeda0904*")

results_2016 = client.get("neai-csgh", # 2016 code
                          where = "medicaid_amount_reimbursed > 0", 
                          order = "state_code ASC", 
                          limit = 3000000)

results_2016_df = pd.DataFrame.from_records(results_2016)

In [4]:
results_2016_df.drop(["_quarter_begin",
            "_quarter_begin_date",
            "labeler_code", 
            "location",  
            "ndc",
            "number_of_prescriptions",
            "package_size", 
            "product_code",
            "product_fda_list_name",
            "quarter", 
            "suppression_used",
            "utilization_type"], axis=1, inplace = True)

In [5]:
results_2016_df.state_code.replace(to_replace = us_state_abbrev, inplace = True)

In [6]:
results_2016_df["medicaid_amount_reimbursed"] = results_2016_df["medicaid_amount_reimbursed"].astype(float, inplace = True)

In [8]:
new_2016 = results_2016_df.groupby("state_code")

In [9]:
totals_2016 = new_2016["medicaid_amount_reimbursed"].sum()

In [12]:
totals_2016.to_csv("totals_2016.csv")

### 2015:

In [3]:
client = Socrata("data.medicaid.gov",
                  "vK40fQCmmsCNjgjfTJ7IfcvGF",
                  username="df1559@stern.nyu.edu",
                  password="OmaDeda0904*")

results_2015 = client.get("m4ab-dkvc", # 2015 code
                          where = "medicaid_amount_reimbursed > 0", 
                          order = "state_code ASC", 
                          limit = 3000000)

results_2015_df = pd.DataFrame.from_records(results_2015)

In [4]:
results_2015_df.drop(["_quarter_begin",
            "_quarter_begin_date",
            "labeler_code", 
            "_location",  
            "ndc",
            "number_of_prescriptions",
            "package_size", 
            "product_code",
            "product_fda_list_name",
            "quarter", 
            "suppression_used",
            "record_id"], axis=1, inplace = True)

In [5]:
results_2015_df.state_code.replace(to_replace = us_state_abbrev, inplace = True)

In [6]:
results_2015_df["medicaid_amount_reimbursed"] = results_2015_df["medicaid_amount_reimbursed"].astype(float, inplace = True)

In [8]:
new_2015 = results_2015_df.groupby("state_code")

In [9]:
totals_2015 = new_2015["medicaid_amount_reimbursed"].sum()

In [12]:
totals_2015.to_csv("totals_2015.csv")

### 2014:

In [3]:
client = Socrata("data.medicaid.gov",
                  "vK40fQCmmsCNjgjfTJ7IfcvGF",
                  username="df1559@stern.nyu.edu",
                  password="OmaDeda0904*")

results_2014 = client.get("qpz6-74iw", # 2014 code
                          where = "medicaid_amount_reimbursed > 0", 
                          order = "state_code ASC", 
                          limit = 3000000)

results_2014_df = pd.DataFrame.from_records(results_2014)

In [4]:
results_2014_df.drop(["_quarter_begin",
            "_quarter_begin_date",
            "labeler_code", 
            "_location",  
            "ndc",
            "number_of_prescriptions",
            "package_size", 
            "product_code",
            "product_fda_list_name",
            "quarter", 
            "suppression_used",
            "record_id"], axis=1, inplace = True)

In [5]:
results_2014_df.state_code.replace(to_replace = us_state_abbrev, inplace = True)

In [6]:
results_2014_df["medicaid_amount_reimbursed"] = results_2014_df["medicaid_amount_reimbursed"].astype(float, inplace = True)

In [7]:
new_2014 = results_2014_df.groupby("state_code")

In [8]:
totals_2014 = new_2014["medicaid_amount_reimbursed"].sum()

In [11]:
totals_2014.to_csv("totals_2014.csv")

### 2013:

In [3]:
client = Socrata("data.medicaid.gov",
                  "vK40fQCmmsCNjgjfTJ7IfcvGF",
                  username="df1559@stern.nyu.edu",
                  password="OmaDeda0904*")

results_2013 = client.get("hcg7-jjb2", # 2013 code
                          where = "medicaid_amount_reimbursed > 0", 
                          order = "state_code ASC", 
                          limit = 3000000)

results_2013_df = pd.DataFrame.from_records(results_2013)

In [4]:
results_2013_df.drop(["_quarter_begin",
            "_quarter_begin_date",
            "labeler_code", 
            "_location",  
            "ndc",
            "number_of_prescriptions",
            "package_size", 
            "product_code",
            "product_fda_list_name",
            "quarter", 
            "suppression_used",
            "record_id"], axis=1, inplace = True)

In [5]:
results_2013_df.state_code.replace(to_replace = us_state_abbrev, inplace = True)

In [6]:
results_2013_df["medicaid_amount_reimbursed"] = results_2013_df["medicaid_amount_reimbursed"].astype(float, inplace = True)

In [7]:
new_2013 = results_2013_df.groupby("state_code")

In [8]:
totals_2013 = new_2013["medicaid_amount_reimbursed"].sum()

In [11]:
totals_2013.to_csv("totals_2013.csv")

### 2012:

In [2]:
client = Socrata("data.medicaid.gov",
                  "vK40fQCmmsCNjgjfTJ7IfcvGF",
                  username="df1559@stern.nyu.edu",
                  password="OmaDeda0904*")

results_2012 = client.get("jzhb-tr7x", # 2012 code
                          where = "medicaid_amount_reimbursed > 0", 
                          order = "state_code ASC", 
                          limit = 3000000)

results_2012_df = pd.DataFrame.from_records(results_2012)

In [3]:
results_2012_df.drop(["_quarter_begin",
            "_quarter_begin_date",
            "labeler_code", 
            "_location",  
            "ndc",
            "number_of_prescriptions",
            "package_size", 
            "product_code",
            "product_fda_list_name",
            "quarter", 
            "suppression_used",
            "record_id"], axis=1, inplace = True)

In [6]:
results_2012_df.state_code.replace(to_replace = us_state_abbrev, inplace = True)

In [7]:
results_2012_df["medicaid_amount_reimbursed"] = results_2012_df["medicaid_amount_reimbursed"].astype(float, inplace = True)

In [8]:
new_2012 = results_2012_df.groupby("state_code")

In [9]:
totals_2012 = new_2012["medicaid_amount_reimbursed"].sum()

In [12]:
totals_2012.to_csv("totals_2012.csv")

### 2011:

In [13]:
client = Socrata("data.medicaid.gov",
                  "vK40fQCmmsCNjgjfTJ7IfcvGF",
                  username="df1559@stern.nyu.edu",
                  password="OmaDeda0904*")

results_2011 = client.get("au58-3g3e", # 2011 code
                          where = "medicaid_amount_reimbursed > 0", 
                          order = "state_code ASC", 
                          limit = 3000000)

results_2011_df = pd.DataFrame.from_records(results_2011)

In [14]:
results_2011_df.drop(["_quarter_begin",
            "_quarter_begin_date",
            "labeler_code", 
            "_location",  
            "ndc",
            "number_of_prescriptions",
            "package_size", 
            "product_code",
            "product_fda_list_name",
            "quarter", 
            "suppression_used",
            "record_id"], axis=1, inplace = True)

In [15]:
results_2011_df.state_code.replace(to_replace = us_state_abbrev, inplace = True)

In [16]:
results_2011_df["medicaid_amount_reimbursed"] = results_2011_df["medicaid_amount_reimbursed"].astype(float, inplace = True)

In [17]:
new_2011 = results_2011_df.groupby("state_code")

In [18]:
totals_2011 = new_2011["medicaid_amount_reimbursed"].sum()

In [21]:
totals_2011.to_csv("totals_2011.csv")

### 2010:

In [4]:
client = Socrata("data.medicaid.gov",
                  "vK40fQCmmsCNjgjfTJ7IfcvGF",
                  username="df1559@stern.nyu.edu",
                  password="OmaDeda0904*")

results_2010 = client.get("gyfr-saxn", # 2010 code
                          where = "medicaid_amount_reimbursed > 0", 
                          order = "state_code ASC", 
                          limit = 3000000)

results_2010_df = pd.DataFrame.from_records(results_2010)

In [5]:
results_2010_df.drop(["_quarter_begin",
            "_quarter_begin_date",
            "labeler_code", 
            "_location",  
            "ndc",
            "number_of_prescriptions",
            "package_size", 
            "product_code",
            "product_fda_list_name",
            "quarter", 
            "suppression_used",
            "record_id"], axis=1, inplace = True)

In [6]:
results_2010_df.state_code.replace(to_replace = us_state_abbrev, inplace = True)

In [7]:
results_2010_df["medicaid_amount_reimbursed"] = results_2010_df["medicaid_amount_reimbursed"].astype(float, inplace = True)

In [8]:
new_2010 = results_2010_df.groupby("state_code")

In [9]:
totals_2010 = new_2010["medicaid_amount_reimbursed"].sum()

In [12]:
totals_2010.to_csv("totals_2010.csv")

## Combining Individual Years:

Here I read in the csv files I saved for each year and combine them into a final dataframe to be used in analysis. These are all available in the [SDU_Data folder](https://github.com/Davina-Francki/Data_Bootcamp_Final_Project/tree/master/SDU_Data) in the repository.

In [4]:
totals_2010 = pd.read_csv("totals_2010.csv", header=-1)
# The header needs to be -1, otherwise the first state and its total become column names

In [7]:
totals_2011 = pd.read_csv("totals_2011.csv", header=-1)

In [8]:
totals_2012 = pd.read_csv("totals_2012.csv", header=-1)

In [9]:
totals_2013 = pd.read_csv("totals_2013.csv", header=-1)

In [10]:
totals_2014 = pd.read_csv("totals_2014.csv", header=-1)

In [11]:
totals_2015 = pd.read_csv("totals_2015.csv", header=-1)

In [12]:
totals_2016 = pd.read_csv("totals_2016.csv", header=-1)

In [13]:
totals_2017 = pd.read_csv("totals_2017.csv", header=-1)

In [15]:
combo2 = totals_2010.merge(totals_2011.merge(totals_2012, on=0), on=0)
# Here I merge 2010-2012 to test the it merfes correctly
# 0 in this case is the column with state names

In [16]:
combo2
# Looks like it works well

                 0             1           1_x           1_y
0          Alabama  4.791182e+08  4.923865e+08  4.969177e+08
1           Alaska  1.211837e+08  1.651983e+08  1.125291e+08
2          Arizona  4.768952e+08  7.171098e+08  4.688066e+08
3         Arkansas  3.110965e+08  3.119547e+08  3.089601e+08
4       California  3.672208e+09  3.953023e+09  3.660938e+09
5         Colorado  2.518429e+08  3.041606e+08  3.336433e+08
6      Connecticut  5.064009e+08  6.045097e+08  6.619327e+08
7               DC  6.728187e+07  1.086528e+08  1.920560e+08
8         Delaware  1.271308e+08  1.489894e+08  1.708165e+08
9          Florida  1.507242e+09  1.799638e+09  1.851466e+09
10         Georgia  6.194733e+08  6.972821e+08  8.251124e+08
11          Hawaii  2.326575e+08  4.922533e+08  2.683795e+08
12           Idaho  1.173761e+08  1.296007e+08  1.339582e+08
13        Illinois  1.374029e+09  1.107375e+09  1.374574e+09
14         Indiana  7.509963e+08  7.393505e+08  8.964723e+08
15            Iowa  2.354045e+08  2.558776e+08  2.676920e+08
16          Kansas  1.764451e+08  2.044077e+08  2.007601e+08
17        Kentucky  6.502052e+08  7.544010e+08  5.534540e+08
18       Louisiana  8.695980e+08  8.994787e+08  9.084121e+08
19           Maine  1.804708e+08  2.053149e+08  2.030502e+08
20        Maryland  4.931053e+08  5.901639e+08  6.021747e+08
21   Massachusetts  6.635420e+08  7.546238e+08  7.786187e+08
22        Michigan  8.137382e+08  1.011631e+09  9.857233e+08
23       Minnesota  3.925142e+08  5.923723e+08  6.157483e+08
24     Mississippi  3.208291e+08  3.496379e+08  3.735438e+08
25        Missouri  8.984498e+08  9.867348e+08  1.038098e+09
26         Montana  6.264440e+07  7.095438e+07  6.942904e+07
27        Nebraska  1.441227e+08  1.647583e+08  1.687956e+08
28          Nevada  1.200038e+08  1.478972e+08  1.351214e+08
29   New Hampshire  9.952703e+07  1.008917e+08  1.058762e+08
30      New Jersey  6.669989e+08  6.869860e+08  8.152596e+08
31      New Mexico  3.338094e+07  1.727571e+08  1.908293e+08
32        New York  4.506954e+09  4.834686e+09  4.147588e+09
33  North Carolina  1.134414e+09  1.183529e+09  1.216492e+09
34    North Dakota  2.927501e+07  3.163787e+07  3.109481e+07
35            Ohio  1.356630e+09  1.342170e+09  1.719123e+09
36        Oklahoma  3.980509e+08  3.896422e+08  4.184891e+08
37          Oregon  2.100836e+08  3.061482e+08  2.802035e+08
38    Pennsylvania  9.518810e+08  1.760089e+09  1.637398e+09
39    Rhode Island  6.917444e+07  8.931836e+07  8.906555e+07
40  South Carolina  3.844309e+08  4.110341e+08  4.158411e+08
41    South Dakota  4.574646e+07  4.059438e+07  4.479620e+07
42       Tennessee  7.386670e+08  8.011674e+08  8.315148e+08
43           Texas  2.354024e+09  2.523987e+09  2.631960e+09
44            Utah  1.520690e+08  1.756273e+08  1.639641e+08
45         Vermont  1.118193e+08  1.119135e+08  1.172899e+08
46        Virginia  2.847428e+08  6.329355e+08  8.066993e+08
47      Washington  3.725820e+08  5.137695e+08  3.651132e+08
48   West Virginia  3.473053e+08  3.743138e+08  3.564265e+08
49       Wisconsin  6.532010e+08  7.069771e+08  7.188437e+08
50         Wyoming  3.144567e+07  3.246397e+07  3.063000e+07
51              XX  3.298991e+10  3.778343e+10  3.797686e+10

In [17]:
combo3 = combo2.merge(totals_2013.merge(totals_2014, on=0), on=0)
# I then add on two more years

In [18]:
combo4 = combo3.merge(totals_2015.merge(totals_2016, on=0), on=0)
# Add again

In [19]:
combo5 = combo4.merge(totals_2017, on = 0)
# Until I have all the years together

In [20]:
combo5

,0,1_x,1_x_x,1_y_x,1_x_y,1_y_y,1_x,1_y,1_y
0,Alabama,4.791182e+08,4.923865e+08,4.969177e+08,5.136298e+08,5.500689e+08,6.193552e+08,6.673464e+08,6.787368e+08
1,Alaska,1.211837e+08,1.651983e+08,1.125291e+08,1.394358e+08,5.876672e+07,7.341019e+07,1.085943e+08,1.375169e+08
2,Arizona,4.768952e+08,7.171098e+08,4.688066e+08,6.136353e+08,6.934896e+08,9.577278e+08,1.246118e+09,1.121780e+09
3,Arkansas,3.110965e+08,3.119547e+08,3.089601e+08,3.059460e+08,3.518599e+08,3.496528e+08,3.397857e+08,3.656795e+08
4,California,3.672208e+09,3.953023e+09,3.660938e+09,3.790730e+09,5.128928e+09,7.131050e+09,8.004575e+09,7.160615e+09
5,Colorado,2.518429e+08,3.041606e+08,3.336433e+08,3.752535e+08,5.796412e+08,7.591099e+08,9.088009e+08,9.050236e+08
6,Connecticut,5.064009e+08,6.045097e+08,6.619327e+08,6.763782e+08,9.067386e+08,1.162626e+09,1.245734e+09,1.216403e+09
7,DC,6.728187e+07,1.086528e+08,1.920560e+08,1.021842e+08,1.198916e+08,1.454308e+08,2.581744e+08,2.858465e+08
8,Delaware,1.271308e+08,1.489894e+08,1.708165e+08,1.687547e+08,1.937483e+08,2.046680e+08,1.755537e+08,2.963721e+06
9,Florida,1.507242e+09,1.799638e+09,1.851466e+09,1.986922e+09,2.350233e+09,2.638117e+09,2.820646e+09,2.941874e+09
10,Georgia,6.194733e+08,6.972821e+08,8.251124e+08,8.092473e+08,9.444674e+08,1.077258e+09,1.097467e+09,1.143579e+09
11,Hawaii,2.326575e+08,4.922533e+08,2.683795e+08,1.762874e+08,3.883256e+08,1.011791e+09,8.087689e+08,1.550418e+08
12,Idaho,1.173761e+08,1.296007e+08,1.339582e+08,1.337655e+08,1.525014e+08,1.763604e+08,1.885024e+08,1.919831e+08
13,Illinois,1.374029e+09,1.107375e+09,1.374574e+09,9.419924e+08,1.163418e+09,1.396624e+09,1.638724e+09,1.792826e+09
14,Indiana,7.509963e+08,7.393505e+08,8.964723e+08,8.654585e+08,1.058197e+09,1.142672e+09,1.487462e+09,1.388079e+09
15,Iowa,2.354045e+08,2.558776e+08,2.676920e+08,2.454694e+08,3.478307e+08,4.447199e+08,3.680337e+08,2.949533e+08
16,Kansas,1.764451e+08,2.044077e+08,2.007601e+08,7.001434e+07,4.589565e+08,2.567303e+08,2.559277e+08,3.256777e+08
17,Kentucky,6.502052e+08,7.544010e+08,5.534540e+08,5.162447e+08,7.882563e+08,1.047653e+09,1.167811e+09,1.133654e+09
18,Louisiana,8.695980e+08,8.994787e+08,9.084121e+08,7.076132e+08,6.057828e+08,7.442621e+08,7.168405e+08,1.046648e+09
19,Maine,1.804708e+08,2.053149e+08,2.030502e+08,1.938182e+08,2.008113e+08,2.286536e+08,2.236697e+08,2.220872e+08
20,Maryland,4.931053e+08,5.901639e+08,6.021747e+08,6.043448e+08,8.331406e+08,1.028159e+09,1.099590e+09,1.120351e+09
21,Massachusetts,6.635420e+08,7.546238e+08,7.786187e+08,8.042645e+08,9.967737e+08,1.130325e+09,1.304455e+09,1.378799e+09
22,Michigan,8.137382e+08,1.011631e+09,9.857233e+08,1.047099e+09,1.317982e+09,1.603560e+09,1.947015e+09,2.064807e+09
23,Minnesota,3.925142e+08,5.923723e+08,6.157483e+08,6.284482e+08,8.267197e+08,8.583849e+08,8.878876e+08,8.962187e+08
24,Mississippi,3.208291e+08,3.496379e+08,3.735438e+08,3.713808e+08,4.149704e+08,5.185955e+08,4.794195e+08,4.400233e+08
25,Missouri,8.984498e+08,9.867348e+08,1.038098e+09,1.021941e+09,1.091209e+09,1.235984e+09,1.205745e+09,1.228983e+09
26,Montana,6.264440e+07,7.095438e+07,6.942904e+07,7.085672e+07,8.635401e+07,1.009509e+08,1.589985e+08,2.089759e+08
27,Nebraska,1.441227e+08,1.647583e+08,1.687956e+08,1.568697e+08,1.712005e+08,1.669867e+08,1.686806e+08,1.591421e+08
28,Nevada,1.200038e+08,1.478972e+08,1.351214e+08,1.424248e+08,2.435446e+08,3.547868e+08,4.439277e+08,4.566977e+08
29,New Hampshire,9.952703e+07,1.008917e+08,1.058762e+08,1.006699e+08,8.649270e+07,1.062675e+08,8.846953e+07,9.527102e+07
30,New Jersey,6.669989e+08,6.869860e+08,8.152596e+08,7.837993e+08,9.846129e+08,1.364807e+09,1.694990e+09,1.309827e+09
31,New Mexico,3.338094e+07,1.727571e+08,1.908293e+08,1.872767e+08,2.210180e+08,2.880050e+08,3.707657e+08,4.135401e+08
32,New York,4.506954e+09,4.834686e+09,4.147588e+09,4.173303e+09,5.091880e+09,5.375023e+09,6.163777e+09,6.121179e+09
33,North Carolina,1.134414e+09,1.183529e+09,1.216492e+09,1.261816e+09,1.495550e+09,1.688154e+09,1.736404e+09,1.797256e+09
34,North Dakota,2.927501e+07,3.163787e+07,3.109481e+07,3.102759e+07,4.193969e+07,5.651711e+07,5.595788e+07,5.169066e+07
35,Ohio,1.356630e+09,1.342170e+09,1.719123e+09,1.594020e+09,1.770650e+09,2.639458e+09,3.046825e+09,3.193298e+09
36,Oklahoma,3.980509e+08,3.896422e+08,4.184891e+08,4.253964e+08,4.617678e+08,4.686717e+08,4.710398e+08,5.021501e+08
37,Oregon,2.100836e+08,3.061482e+08,2.802035e+08,3.218324e+08,4.533673e+08,6.177052e+08,6.495003e+08,6.711275e+08
38,Pennsylvania,9.518810e+08,1.760089e+09,1.637398e+09,1.621688e+09,1.899695e+09,2.314383e+09,2.771235e+09,2.933542e+09
39,Rhode Island,6.917444e+07,8.931836e+07,8.906555e+07,8.354194e+07,1.373127e+08,1.853322e+08,2.057710e+08,2.187806e+08
40,South Carolina,3.844309e+08,4.110341e+08,4.158411e+08,3.970001e+08,3.872059e+08,3.137966e+08,3.477776e+08,4.833875e+08
41,South Dakota,4.574646e+07,4.059438e+07,4.479620e+07,5.400209e+07,7.119810e+07,8.875659e+07,1.199611e+08,1.019748e+08
42,Tennessee,7.386670e+08,8.011674e+08,8.315148e+08,7.631958e+08,8.700110e+08,9.642462e+08,1.079084e+09,1.028932e+09
43,Texas,2.354024e+09,2.523987e+09,2.631960e+09,2.559599e+09,2.857713e+09,3.099302e+09,3.338224e+09,3.372890e+09
44,Utah,1.520690e+08,1.756273e+08,1.639641e+08,1.542967e+08,1.712571e+08,1.797189e+08,1.842043e+08,1.898333e+08
45,Vermont,1.118193e+08,1.119135e+08,1.172899e+08,1.197373e+08,1.386821e+08,1.644828e+08,1.630098e+08,1.617808e+08
46,Virginia,2.847428e+08,6.329355e+08,8.066993e+08,1.122492e+09,1.982182e+09,1.022617e+09,1.031791e+09,9.065211e+08
47,Washington,3.725820e+08,5.137695e+08,3.651132e+08,3.617829e+08,6.342433e+08,8.404446e+08,1.061570e+09,1.108756e+09
48,West Virginia,3.473053e+08,3.743138e+08,3.564265e+08,3.255317e+08,4.628951e+08,5.344385e+08,5.680058e+08,5.914739e+08
49,Wisconsin,6.532010e+08,7.069771e+08,7.188437e+08,7.188925e+08,8.529654e+08,1.006919e+09,1.119974e+09,1.169645e+09
50,Wyoming,3.144567e+07,3.246397e+07,3.063000e+07,2.939189e+07,3.151927e+07,3.376287e+07,3.415762e+07,3.624745e+07
51,XX,3.298991e+10,3.778343e+10,3.797686e+10,3.794045e+10,4.707811e+10,5.562011e+10,6.201668e+10,6.182641e+10

In [51]:
combo5.columns
# Column names have no signficance

Index([0, '1_x', '1_x_x', '1_y_x', '1_x_y', '1_y_y', '1_x', '1_y', '1_y'], dtype='object')

In [21]:
combo5.columns = ["State", "2010", "2011", "2012",
                 "2013", "2014", "2015", "2016", "2017"]
# So I rename them appropriately

In [22]:
combo5

,State,2010,2011,2012,2013,2014,2015,2016,2017
0,Alabama,4.791182e+08,4.923865e+08,4.969177e+08,5.136298e+08,5.500689e+08,6.193552e+08,6.673464e+08,6.787368e+08
1,Alaska,1.211837e+08,1.651983e+08,1.125291e+08,1.394358e+08,5.876672e+07,7.341019e+07,1.085943e+08,1.375169e+08
2,Arizona,4.768952e+08,7.171098e+08,4.688066e+08,6.136353e+08,6.934896e+08,9.577278e+08,1.246118e+09,1.121780e+09
3,Arkansas,3.110965e+08,3.119547e+08,3.089601e+08,3.059460e+08,3.518599e+08,3.496528e+08,3.397857e+08,3.656795e+08
4,California,3.672208e+09,3.953023e+09,3.660938e+09,3.790730e+09,5.128928e+09,7.131050e+09,8.004575e+09,7.160615e+09
5,Colorado,2.518429e+08,3.041606e+08,3.336433e+08,3.752535e+08,5.796412e+08,7.591099e+08,9.088009e+08,9.050236e+08
6,Connecticut,5.064009e+08,6.045097e+08,6.619327e+08,6.763782e+08,9.067386e+08,1.162626e+09,1.245734e+09,1.216403e+09
7,DC,6.728187e+07,1.086528e+08,1.920560e+08,1.021842e+08,1.198916e+08,1.454308e+08,2.581744e+08,2.858465e+08
8,Delaware,1.271308e+08,1.489894e+08,1.708165e+08,1.687547e+08,1.937483e+08,2.046680e+08,1.755537e+08,2.963721e+06
9,Florida,1.507242e+09,1.799638e+09,1.851466e+09,1.986922e+09,2.350233e+09,2.638117e+09,2.820646e+09,2.941874e+09
10,Georgia,6.194733e+08,6.972821e+08,8.251124e+08,8.092473e+08,9.444674e+08,1.077258e+09,1.097467e+09,1.143579e+09
11,Hawaii,2.326575e+08,4.922533e+08,2.683795e+08,1.762874e+08,3.883256e+08,1.011791e+09,8.087689e+08,1.550418e+08
12,Idaho,1.173761e+08,1.296007e+08,1.339582e+08,1.337655e+08,1.525014e+08,1.763604e+08,1.885024e+08,1.919831e+08
13,Illinois,1.374029e+09,1.107375e+09,1.374574e+09,9.419924e+08,1.163418e+09,1.396624e+09,1.638724e+09,1.792826e+09
14,Indiana,7.509963e+08,7.393505e+08,8.964723e+08,8.654585e+08,1.058197e+09,1.142672e+09,1.487462e+09,1.388079e+09
15,Iowa,2.354045e+08,2.558776e+08,2.676920e+08,2.454694e+08,3.478307e+08,4.447199e+08,3.680337e+08,2.949533e+08
16,Kansas,1.764451e+08,2.044077e+08,2.007601e+08,7.001434e+07,4.589565e+08,2.567303e+08,2.559277e+08,3.256777e+08
17,Kentucky,6.502052e+08,7.544010e+08,5.534540e+08,5.162447e+08,7.882563e+08,1.047653e+09,1.167811e+09,1.133654e+09
18,Louisiana,8.695980e+08,8.994787e+08,9.084121e+08,7.076132e+08,6.057828e+08,7.442621e+08,7.168405e+08,1.046648e+09
19,Maine,1.804708e+08,2.053149e+08,2.030502e+08,1.938182e+08,2.008113e+08,2.286536e+08,2.236697e+08,2.220872e+08
20,Maryland,4.931053e+08,5.901639e+08,6.021747e+08,6.043448e+08,8.331406e+08,1.028159e+09,1.099590e+09,1.120351e+09
21,Massachusetts,6.635420e+08,7.546238e+08,7.786187e+08,8.042645e+08,9.967737e+08,1.130325e+09,1.304455e+09,1.378799e+09
22,Michigan,8.137382e+08,1.011631e+09,9.857233e+08,1.047099e+09,1.317982e+09,1.603560e+09,1.947015e+09,2.064807e+09
23,Minnesota,3.925142e+08,5.923723e+08,6.157483e+08,6.284482e+08,8.267197e+08,8.583849e+08,8.878876e+08,8.962187e+08
24,Mississippi,3.208291e+08,3.496379e+08,3.735438e+08,3.713808e+08,4.149704e+08,5.185955e+08,4.794195e+08,4.400233e+08
25,Missouri,8.984498e+08,9.867348e+08,1.038098e+09,1.021941e+09,1.091209e+09,1.235984e+09,1.205745e+09,1.228983e+09
26,Montana,6.264440e+07,7.095438e+07,6.942904e+07,7.085672e+07,8.635401e+07,1.009509e+08,1.589985e+08,2.089759e+08
27,Nebraska,1.441227e+08,1.647583e+08,1.687956e+08,1.568697e+08,1.712005e+08,1.669867e+08,1.686806e+08,1.591421e+08
28,Nevada,1.200038e+08,1.478972e+08,1.351214e+08,1.424248e+08,2.435446e+08,3.547868e+08,4.439277e+08,4.566977e+08
29,New Hampshire,9.952703e+07,1.008917e+08,1.058762e+08,1.006699e+08,8.649270e+07,1.062675e+08,8.846953e+07,9.527102e+07
30,New Jersey,6.669989e+08,6.869860e+08,8.152596e+08,7.837993e+08,9.846129e+08,1.364807e+09,1.694990e+09,1.309827e+09
31,New Mexico,3.338094e+07,1.727571e+08,1.908293e+08,1.872767e+08,2.210180e+08,2.880050e+08,3.707657e+08,4.135401e+08
32,New York,4.506954e+09,4.834686e+09,4.147588e+09,4.173303e+09,5.091880e+09,5.375023e+09,6.163777e+09,6.121179e+09
33,North Carolina,1.134414e+09,1.183529e+09,1.216492e+09,1.261816e+09,1.495550e+09,1.688154e+09,1.736404e+09,1.797256e+09
34,North Dakota,2.927501e+07,3.163787e+07,3.109481e+07,3.102759e+07,4.193969e+07,5.651711e+07,5.595788e+07,5.169066e+07
35,Ohio,1.356630e+09,1.342170e+09,1.719123e+09,1.594020e+09,1.770650e+09,2.639458e+09,3.046825e+09,3.193298e+09
36,Oklahoma,3.980509e+08,3.896422e+08,4.184891e+08,4.253964e+08,4.617678e+08,4.686717e+08,4.710398e+08,5.021501e+08
37,Oregon,2.100836e+08,3.061482e+08,2.802035e+08,3.218324e+08,4.533673e+08,6.177052e+08,6.495003e+08,6.711275e+08
38,Pennsylvania,9.518810e+08,1.760089e+09,1.637398e+09,1.621688e+09,1.899695e+09,2.314383e+09,2.771235e+09,2.933542e+09
39,Rhode Island,6.917444e+07,8.931836e+07,8.906555e+07,8.354194e+07,1.373127e+08,1.853322e+08,2.057710e+08,2.187806e+08
40,South Carolina,3.844309e+08,4.110341e+08,4.158411e+08,3.970001e+08,3.872059e+08,3.137966e+08,3.477776e+08,4.833875e+08
41,South Dakota,4.574646e+07,4.059438e+07,4.479620e+07,5.400209e+07,7.119810e+07,8.875659e+07,1.199611e+08,1.019748e+08
42,Tennessee,7.386670e+08,8.011674e+08,8.315148e+08,7.631958e+08,8.700110e+08,9.642462e+08,1.079084e+09,1.028932e+09
43,Texas,2.354024e+09,2.523987e+09,2.631960e+09,2.559599e+09,2.857713e+09,3.099302e+09,3.338224e+09,3.372890e+09
44,Utah,1.520690e+08,1.756273e+08,1.639641e+08,1.542967e+08,1.712571e+08,1.797189e+08,1.842043e+08,1.898333e+08
45,Vermont,1.118193e+08,1.119135e+08,1.172899e+08,1.197373e+08,1.386821e+08,1.644828e+08,1.630098e+08,1.617808e+08
46,Virginia,2.847428e+08,6.329355e+08,8.066993e+08,1.122492e+09,1.982182e+09,1.022617e+09,1.031791e+09,9.065211e+08
47,Washington,3.725820e+08,5.137695e+08,3.651132e+08,3.617829e+08,6.342433e+08,8.404446e+08,1.061570e+09,1.108756e+09
48,West Virginia,3.473053e+08,3.743138e+08,3.564265e+08,3.255317e+08,4.628951e+08,5.344385e+08,5.680058e+08,5.914739e+08
49,Wisconsin,6.532010e+08,7.069771e+08,7.188437e+08,7.188925e+08,8.529654e+08,1.006919e+09,1.119974e+09,1.169645e+09
50,Wyoming,3.144567e+07,3.246397e+07,3.063000e+07,2.939189e+07,3.151927e+07,3.376287e+07,3.415762e+07,3.624745e+07
51,XX,3.298991e+10,3.778343e+10,3.797686e+10,3.794045e+10,4.707811e+10,5.562011e+10,6.201668e+10,6.182641e+10

In [24]:
combo5.to_excel("SDU_State_Totals.xlsx")
# Finally I save this final dataframe as an excel file

I can now use SDU_State_Totals in my analysis incorporating Medicaid expansion as well as spending per capita.